services:
  web:
    build:
      context: ./app
    container_name: fastapi-app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app

  nginx:
    image: nginx:latest
    container_name: nginx-server
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./app/static:/app/static
    depends_on:
      - web